---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Création sur-mesure",
    description:
      "Construisez votre site en utilisant les dernières technologies : React, Vue, Svelte, ou même HTML + JavaScript. Nous adaptons vos besoins avec flexibilité.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Performance maximale",
    description:
      "Votre site est 100 % en HTML statique pour un chargement ultra-rapide, garantissant une expérience utilisateur fluide et optimale.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Composants personnalisés",
    description:
      "Besoin d'interactivité ? Nos solutions intègrent des composants qui s’activent seulement quand c’est nécessaire pour améliorer les performances.  ",
    icon: "bx:bxs-data",
  },
  {
    title: "Large intégration",
    description:
      "Compatible avec TypeScript, CSS Modules, Sass, Tailwind et bien plus, nos sites exploitent les meilleures technologies pour garantir un résultat optimal.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO optimisé",
    description:
      "Sitemaps, flux RSS, pagination… Nous faisons en sorte que votre site soit parfaitement optimisé pour le SEO, augmentant ainsi votre visibilité.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Communauté et expertise",
    description:
      "Nous mettons notre expertise à votre disposition pour vous offrir des solutions robustes et innovantes, en s’appuyant sur une communauté active.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Tout ce qu'il vous faut pour réussir en ligne
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Chez ReisTech, nous utilisons des outils de pointe et des technologies innovantes pour vous offrir des sites internet performants et optimisés. Nous allions créativité et expertise technique pour vous fournir une solution sur mesure.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
